{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}

{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}

{% block content %}

  <div class="container-fluid">
	<div class="row">
		<div class="col-md-4 text-center">
			<a onclick="$('.bread-filters').slideDown(); $grid.isotope({ filter: '.bread-item, .breadcategory-item' });">Bread</a>
		</div>
		<div class="col-md-4 text-center">
			<a onclick="$('.bread-filters').slideUp(); $grid.isotope({ filter: '*' });">See All</a>

		</div>
		<div class="col-md-4 text-center">
			<a onclick="$('.bread-filters').slideUp(); $grid.isotope({ filter: '.text-item' });">Text</a>
		</div>
	</div>
	<div class="row bread-filters">
		{% for cat in cms.breadcategory %}
		<div class="col-md-3 text-center">
			<a onclick="$grid.isotope({ filter: '.{{cat.name}}' });">{{ cat.name_of_bread_category}}</a>
		</div>
		{% endfor %}
	</div>
    <div class="row">
      <div class="col-md-12">

        

  
			<div class="grid">
			{% for item in merge(cms.text, cms.breadcategory) %}
			{% set blank = random([0,1,1,1,0]) %}
				{% if blank==1 %}
					<div class="grid-item">
						&nbsp;
					</div>
				{% endif %}
				{% if item._type == 'breadcategory' %}
					<div class="text-center grid-item bread-item {{item.name}}" data-category="{{item.name}}">
			            <div class="overlay">
				            <img src="{{ item.thumbnail|imageCrop(250,250) }}">
				            <div class="text"><a href="{{url(item)}}">{{ item.name_of_bread_category }}</a></div>
			            </div>
			        </div>
			        {% for bread in item.breads %}
						<div class="text-center grid-item bread-item {{item.name}}" data-category="{{item.name}}">
					            <div class="overlay">
						            <img src="{{ bread.thumbnail|imageCrop(250,250) }}">
						            <div class="text"><a href="{{url(bread)}}">{{ bread.name }}</a></div>
					            </div>
				        </div>
					{% endfor %}
					
				{% else %}
				<div class="text-center grid-item {{item._type}}-item ">
		            <div class="overlay">
			            <img src="{{ item.thumbnail|imageCrop(250,250) }}">
			            <div class="text"><a href="{{url(item)}}">{{ item.name }}</a></div>
		            </div>
	        	</div>
				{% endif %}
          {% endfor %}
		  </div>

      </div>
    </div>
  </div>

{% endblock %}

